body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  overflow: hidden;
 
  animation: backgroundAnimation 20s linear infinite; /* Adjust the duration and animation type as needed */
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.container {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 550px;
  height: 350px;
  overflow: hidden;
}
.dice_rot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

img {
  max-width: 40%;
  height: auto;
  margin: 0 10px; /* Add some space between the images */
}

#total {
  font-size: 24px;
  margin-top: 10px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.shake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
